@import "compass";


.show_select_cards_btn {
    width: 70px;
    height: 70px;
    position: absolute;
    bottom: 55px;
    right: 40px;
    pointer-events: auto;
}

.back_card_button {
    background-image: url(resources/images/Misc_Back.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size:contain;
    height: 100%;
    width: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
}

/*****************************************************************************************/

.select_container {
    width: 650px;
    height: 250px;
    background-color: #3e999f;
    pointer-events: auto;
    position: absolute;
    top: 25%;
    left: 10%;
}

.select_container .select_title {
    height: 20px;
    width: 100%;
    font-size: 18px;
    text-align: center;
    margin: 20px 0;
}

.select_container .select_cards {
    width: 100%;
    height: 120px;
}

.select_card_input {
    display: inline-block;
    width: 30%;
    height: 110px;
    margin: 5px;
    background-color: #bbbbbb;
}

.card_suit_input {
    display: none;
}

.card_input {
    width: 50px;
    font-size: 14px;
    margin-left: 76px;
}

.select_card_title {
    height: 20px;
    width: auto;
    font-size: 14px;
    margin: 5px 0;
    text-align: center;
}

.submit_cards_container{

    &:before{
        content:'';
        width:100%;
        height:100%;
        top:0;
        left:0;
        position:absolute;
        background-color: rgba(0,0,0,0.8);
    }
    &.hidden{
        &:before{
            opacity:0;
            pointer-events:none;
        }
    }
}

.submit_cards {
    height: 50px;
    padding:0 25px;
    background-color: rgba(#000, 0.3);
    font-size: 14px;
    text-align: center;
    pointer-events: auto;
    margin:0 auto;
    color:#ca0909;
    //border:1px solid #ca0909;
    text-shadow: 0 0 14px rgba(202, 9, 9, 2.5);
    box-shadow: 0 0 20px 8px rgba(202, 9, 9, 0.5);
    cursor:pointer;
    position:Absolute;
    border-radius:3px;
    bottom:30%;
    text-transform: uppercase;
    letter-spacing: 1px;
    left: 0;
    max-width: 300px;
    right: 0;
    font-weight:bold;
    @include transition(all 0.2s);
    @include box-sizing(border-box);
    @include display-flex();
    @include align-items(center);
    @include justify-content(center);
    &.disabled{
        color: rgba(202, 9, 9, 0.7);
        //border:1px solid #999;
        text-shadow: 0 0 14px rgba(202, 9, 9, 2.5);
        box-shadow: 0 0 20px 8px rgba(202, 9, 9, 0.2);
        pointer-events: none;
        opacity: 0.5;
    }
    &:hover{
        background-color:Rgba(0,0,0,0.7)
    }
}


.select_container {
    display: none;
}

.main.nl-main{
    width: 80%;
    max-width: 960px;
    margin: 12% auto 0 auto;
    padding: 0 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    pointer-events: auto;
    .actions.light{
        display:none;
    }
}


ul.baraja-container.nl-deck{
    width: 90px;
    height: 127px;
    left: -270px;
}

.baraja-demo ul.baraja-container li.card {
    background-position: center;
    background-repeat: no-repeat;
    background-size:contain;
    border-radius: 5px;
    /*height: 120px;*/
    /*width: 85px;*/
}

.baraja-demo ul.baraja-container li.card {
    &.clickCard {
        margin-top: -20px;
        @include transition(margin 0.3s !important);
    }
}

ul.baraja-container li.card_C2 {
    background-image: url(resources/images/C2.png);
}
ul.baraja-container li.card_C3 {
    background-image: url(resources/images/C3.png);
}
ul.baraja-container li.card_C4 {
    background-image: url(resources/images/C4.png);
}
ul.baraja-container li.card_C5 {
    background-image: url(resources/images/C5.png);
}
ul.baraja-container li.card_C6 {
    background-image: url(resources/images/C6.png);
}
ul.baraja-container li.card_C7 {
    background-image: url(resources/images/C7.png);
}
ul.baraja-container li.card_C8 {
    background-image: url(resources/images/C8.png);
}
ul.baraja-container li.card_C9 {
    background-image: url(resources/images/C9.png);
}
ul.baraja-container li.card_C10 {
    background-image: url(resources/images/C10.png);
}
ul.baraja-container li.card_CJ {
    background-image: url(resources/images/CJ.png);
}
ul.baraja-container li.card_CQ {
    background-image: url(resources/images/CQ.png);
}
ul.baraja-container li.card_CK {
    background-image: url(resources/images/CK.png);
}
ul.baraja-container li.card_CA {
    background-image: url(resources/images/CA.png);
}

ul.baraja-container li.card_D2 {
    background-image: url(resources/images/D2.png);
}
ul.baraja-container li.card_D3 {
    background-image: url(resources/images/D3.png);
}
ul.baraja-container li.card_D4 {
    background-image: url(resources/images/D4.png);
}
ul.baraja-container li.card_D5 {
    background-image: url(resources/images/D5.png);
}
ul.baraja-container li.card_D6 {
    background-image: url(resources/images/D6.png);
}
ul.baraja-container li.card_D7 {
    background-image: url(resources/images/D7.png);
}
ul.baraja-container li.card_D8 {
    background-image: url(resources/images/D8.png);
}
ul.baraja-container li.card_D9 {
    background-image: url(resources/images/D9.png);
}
ul.baraja-container li.card_D10 {
    background-image: url(resources/images/D10.png);
}
ul.baraja-container li.card_DJ {
    background-image: url(resources/images/DJ.png);
}
ul.baraja-container li.card_DQ {
    background-image: url(resources/images/DQ.png);
}
ul.baraja-container li.card_DK {
    background-image: url(resources/images/DK.png);
}
ul.baraja-container li.card_DA {
    background-image: url(resources/images/DA.png);
}

ul.baraja-container li.card_H2 {
    background-image: url(resources/images/H2.png);
}
ul.baraja-container li.card_H3 {
    background-image: url(resources/images/H3.png);
}
ul.baraja-container li.card_H4 {
    background-image: url(resources/images/H4.png);
}
ul.baraja-container li.card_H5 {
    background-image: url(resources/images/H5.png);
}
ul.baraja-container li.card_H6 {
    background-image: url(resources/images/H6.png);
}
ul.baraja-container li.card_H7 {
    background-image: url(resources/images/H7.png);
}
ul.baraja-container li.card_H8 {
    background-image: url(resources/images/H8.png);
}
ul.baraja-container li.card_H9 {
    background-image: url(resources/images/H9.png);
}
ul.baraja-container li.card_H10 {
    background-image: url(resources/images/H10.png);
}
ul.baraja-container li.card_HJ {
    background-image: url(resources/images/HJ.png);
}
ul.baraja-container li.card_HQ {
    background-image: url(resources/images/HQ.png);
}
ul.baraja-container li.card_HK {
    background-image: url(resources/images/HK.png);
}
ul.baraja-container li.card_HA {
    background-image: url(resources/images/HA.png);
}

ul.baraja-container li.card_S2 {
    background-image: url(resources/images/S2.png);
}
ul.baraja-container li.card_S3 {
    background-image: url(resources/images/S3.png);
}
ul.baraja-container li.card_S4 {
    background-image: url(resources/images/S4.png);
}
ul.baraja-container li.card_S5 {
    background-image: url(resources/images/S5.png);
}
ul.baraja-container li.card_S6 {
    background-image: url(resources/images/S6.png);
}
ul.baraja-container li.card_S7 {
    background-image: url(resources/images/S7.png);
}
ul.baraja-container li.card_S8 {
    background-image: url(resources/images/S8.png);
}
ul.baraja-container li.card_S9 {
    background-image: url(resources/images/S9.png);
}
ul.baraja-container li.card_S10 {
    background-image: url(resources/images/S10.png);
}
ul.baraja-container li.card_SJ {
    background-image: url(resources/images/SJ.png);
}
ul.baraja-container li.card_SQ {
    background-image: url(resources/images/SQ.png);
}
ul.baraja-container li.card_SK {
    background-image: url(resources/images/SK.png);
}
ul.baraja-container li.card_SA {
    background-image: url(resources/images/SA.png);
}
ul.baraja-container li.card_back {
    background-image: url(resources/images/Misc_Back.png);
}
