<section class="main nl-main">
    <div class="baraja-demo">
        <ul id="baraja-el" class="baraja-container nl-deck">
        </ul>
    </div>
    <nav class="actions light nl-light">
        <span id="nav-prev">&lt;</span>
        <span id="nav-next">&gt;</span>
        <span id="close">close</span>
    </nav>
</section>

<div class="submit_cards_container">
    <div class="submit_cards disabled">Pick cards for default</div>
</div>


