<div class="select_card_input">
    <div class="card_number_input">
        <div class="select_card_title">Card Number:</div>
        <input type="text" class="card_input select_card_number" name="number">
    </div>
    <div class="card_suit_input">
        <div class="select_card_title">Card Suit (c,d,h,s):</div>
        <input type="text" class="card_input select_card_suit" name="suit">
    </div>
</div>
