/* line 4, ../sass/cardDeck.scss */
.show_select_cards_btn {
  width: 70px;
  height: 70px;
  position: absolute;
  bottom: 55px;
  right: 40px;
  pointer-events: auto;
}

/* line 13, ../sass/cardDeck.scss */
.back_card_button {
  background-image: url(resources/images/Misc_Back.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 100%;
  width: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
}

/*****************************************************************************************/
/* line 27, ../sass/cardDeck.scss */
.select_container {
  width: 650px;
  height: 250px;
  background-color: #3e999f;
  pointer-events: auto;
  position: absolute;
  top: 25%;
  left: 10%;
}

/* line 37, ../sass/cardDeck.scss */
.select_container .select_title {
  height: 20px;
  width: 100%;
  font-size: 18px;
  text-align: center;
  margin: 20px 0;
}

/* line 45, ../sass/cardDeck.scss */
.select_container .select_cards {
  width: 100%;
  height: 120px;
}

/* line 50, ../sass/cardDeck.scss */
.select_card_input {
  display: inline-block;
  width: 30%;
  height: 110px;
  margin: 5px;
  background-color: #bbbbbb;
}

/* line 58, ../sass/cardDeck.scss */
.card_suit_input {
  display: none;
}

/* line 62, ../sass/cardDeck.scss */
.card_input {
  width: 50px;
  font-size: 14px;
  margin-left: 76px;
}

/* line 68, ../sass/cardDeck.scss */
.select_card_title {
  height: 20px;
  width: auto;
  font-size: 14px;
  margin: 5px 0;
  text-align: center;
}

/* line 78, ../sass/cardDeck.scss */
.submit_cards_container:before {
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
}
/* line 88, ../sass/cardDeck.scss */
.submit_cards_container.hidden:before {
  opacity: 0;
  pointer-events: none;
}

/* line 95, ../sass/cardDeck.scss */
.submit_cards {
  height: 50px;
  padding: 0 25px;
  background-color: rgba(0, 0, 0, 0.3);
  font-size: 14px;
  text-align: center;
  pointer-events: auto;
  margin: 0 auto;
  color: #ca0909;
  text-shadow: 0 0 14px #ca0909;
  box-shadow: 0 0 20px 8px rgba(202, 9, 9, 0.5);
  cursor: pointer;
  position: Absolute;
  border-radius: 3px;
  bottom: 30%;
  text-transform: uppercase;
  letter-spacing: 1px;
  left: 0;
  max-width: 300px;
  right: 0;
  font-weight: bold;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
/* line 122, ../sass/cardDeck.scss */
.submit_cards.disabled {
  color: rgba(202, 9, 9, 0.7);
  text-shadow: 0 0 14px #ca0909;
  box-shadow: 0 0 20px 8px rgba(202, 9, 9, 0.2);
  pointer-events: none;
  opacity: 0.5;
}
/* line 130, ../sass/cardDeck.scss */
.submit_cards:hover {
  background-color: Rgba(0, 0, 0, 0.7);
}

/* line 136, ../sass/cardDeck.scss */
.select_container {
  display: none;
}

/* line 140, ../sass/cardDeck.scss */
.main.nl-main {
  width: 80%;
  max-width: 960px;
  margin: 12% auto 0 auto;
  padding: 0 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  pointer-events: auto;
}
/* line 149, ../sass/cardDeck.scss */
.main.nl-main .actions.light {
  display: none;
}

/* line 155, ../sass/cardDeck.scss */
ul.baraja-container.nl-deck {
  width: 90px;
  height: 127px;
  left: -270px;
}

/* line 161, ../sass/cardDeck.scss */
.baraja-demo ul.baraja-container li.card {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 5px;
  /*height: 120px;*/
  /*width: 85px;*/
}

/* line 171, ../sass/cardDeck.scss */
.baraja-demo ul.baraja-container li.card.clickCard {
  margin-top: -20px;
  -moz-transition: margin 0.3s !important;
  -o-transition: margin 0.3s !important;
  -webkit-transition: margin 0.3s !important;
  transition: margin 0.3s !important;
}

/* line 177, ../sass/cardDeck.scss */
ul.baraja-container li.card_C2 {
  background-image: url(resources/images/C2.png);
}

/* line 180, ../sass/cardDeck.scss */
ul.baraja-container li.card_C3 {
  background-image: url(resources/images/C3.png);
}

/* line 183, ../sass/cardDeck.scss */
ul.baraja-container li.card_C4 {
  background-image: url(resources/images/C4.png);
}

/* line 186, ../sass/cardDeck.scss */
ul.baraja-container li.card_C5 {
  background-image: url(resources/images/C5.png);
}

/* line 189, ../sass/cardDeck.scss */
ul.baraja-container li.card_C6 {
  background-image: url(resources/images/C6.png);
}

/* line 192, ../sass/cardDeck.scss */
ul.baraja-container li.card_C7 {
  background-image: url(resources/images/C7.png);
}

/* line 195, ../sass/cardDeck.scss */
ul.baraja-container li.card_C8 {
  background-image: url(resources/images/C8.png);
}

/* line 198, ../sass/cardDeck.scss */
ul.baraja-container li.card_C9 {
  background-image: url(resources/images/C9.png);
}

/* line 201, ../sass/cardDeck.scss */
ul.baraja-container li.card_C10 {
  background-image: url(resources/images/C10.png);
}

/* line 204, ../sass/cardDeck.scss */
ul.baraja-container li.card_CJ {
  background-image: url(resources/images/CJ.png);
}

/* line 207, ../sass/cardDeck.scss */
ul.baraja-container li.card_CQ {
  background-image: url(resources/images/CQ.png);
}

/* line 210, ../sass/cardDeck.scss */
ul.baraja-container li.card_CK {
  background-image: url(resources/images/CK.png);
}

/* line 213, ../sass/cardDeck.scss */
ul.baraja-container li.card_CA {
  background-image: url(resources/images/CA.png);
}

/* line 217, ../sass/cardDeck.scss */
ul.baraja-container li.card_D2 {
  background-image: url(resources/images/D2.png);
}

/* line 220, ../sass/cardDeck.scss */
ul.baraja-container li.card_D3 {
  background-image: url(resources/images/D3.png);
}

/* line 223, ../sass/cardDeck.scss */
ul.baraja-container li.card_D4 {
  background-image: url(resources/images/D4.png);
}

/* line 226, ../sass/cardDeck.scss */
ul.baraja-container li.card_D5 {
  background-image: url(resources/images/D5.png);
}

/* line 229, ../sass/cardDeck.scss */
ul.baraja-container li.card_D6 {
  background-image: url(resources/images/D6.png);
}

/* line 232, ../sass/cardDeck.scss */
ul.baraja-container li.card_D7 {
  background-image: url(resources/images/D7.png);
}

/* line 235, ../sass/cardDeck.scss */
ul.baraja-container li.card_D8 {
  background-image: url(resources/images/D8.png);
}

/* line 238, ../sass/cardDeck.scss */
ul.baraja-container li.card_D9 {
  background-image: url(resources/images/D9.png);
}

/* line 241, ../sass/cardDeck.scss */
ul.baraja-container li.card_D10 {
  background-image: url(resources/images/D10.png);
}

/* line 244, ../sass/cardDeck.scss */
ul.baraja-container li.card_DJ {
  background-image: url(resources/images/DJ.png);
}

/* line 247, ../sass/cardDeck.scss */
ul.baraja-container li.card_DQ {
  background-image: url(resources/images/DQ.png);
}

/* line 250, ../sass/cardDeck.scss */
ul.baraja-container li.card_DK {
  background-image: url(resources/images/DK.png);
}

/* line 253, ../sass/cardDeck.scss */
ul.baraja-container li.card_DA {
  background-image: url(resources/images/DA.png);
}

/* line 257, ../sass/cardDeck.scss */
ul.baraja-container li.card_H2 {
  background-image: url(resources/images/H2.png);
}

/* line 260, ../sass/cardDeck.scss */
ul.baraja-container li.card_H3 {
  background-image: url(resources/images/H3.png);
}

/* line 263, ../sass/cardDeck.scss */
ul.baraja-container li.card_H4 {
  background-image: url(resources/images/H4.png);
}

/* line 266, ../sass/cardDeck.scss */
ul.baraja-container li.card_H5 {
  background-image: url(resources/images/H5.png);
}

/* line 269, ../sass/cardDeck.scss */
ul.baraja-container li.card_H6 {
  background-image: url(resources/images/H6.png);
}

/* line 272, ../sass/cardDeck.scss */
ul.baraja-container li.card_H7 {
  background-image: url(resources/images/H7.png);
}

/* line 275, ../sass/cardDeck.scss */
ul.baraja-container li.card_H8 {
  background-image: url(resources/images/H8.png);
}

/* line 278, ../sass/cardDeck.scss */
ul.baraja-container li.card_H9 {
  background-image: url(resources/images/H9.png);
}

/* line 281, ../sass/cardDeck.scss */
ul.baraja-container li.card_H10 {
  background-image: url(resources/images/H10.png);
}

/* line 284, ../sass/cardDeck.scss */
ul.baraja-container li.card_HJ {
  background-image: url(resources/images/HJ.png);
}

/* line 287, ../sass/cardDeck.scss */
ul.baraja-container li.card_HQ {
  background-image: url(resources/images/HQ.png);
}

/* line 290, ../sass/cardDeck.scss */
ul.baraja-container li.card_HK {
  background-image: url(resources/images/HK.png);
}

/* line 293, ../sass/cardDeck.scss */
ul.baraja-container li.card_HA {
  background-image: url(resources/images/HA.png);
}

/* line 297, ../sass/cardDeck.scss */
ul.baraja-container li.card_S2 {
  background-image: url(resources/images/S2.png);
}

/* line 300, ../sass/cardDeck.scss */
ul.baraja-container li.card_S3 {
  background-image: url(resources/images/S3.png);
}

/* line 303, ../sass/cardDeck.scss */
ul.baraja-container li.card_S4 {
  background-image: url(resources/images/S4.png);
}

/* line 306, ../sass/cardDeck.scss */
ul.baraja-container li.card_S5 {
  background-image: url(resources/images/S5.png);
}

/* line 309, ../sass/cardDeck.scss */
ul.baraja-container li.card_S6 {
  background-image: url(resources/images/S6.png);
}

/* line 312, ../sass/cardDeck.scss */
ul.baraja-container li.card_S7 {
  background-image: url(resources/images/S7.png);
}

/* line 315, ../sass/cardDeck.scss */
ul.baraja-container li.card_S8 {
  background-image: url(resources/images/S8.png);
}

/* line 318, ../sass/cardDeck.scss */
ul.baraja-container li.card_S9 {
  background-image: url(resources/images/S9.png);
}

/* line 321, ../sass/cardDeck.scss */
ul.baraja-container li.card_S10 {
  background-image: url(resources/images/S10.png);
}

/* line 324, ../sass/cardDeck.scss */
ul.baraja-container li.card_SJ {
  background-image: url(resources/images/SJ.png);
}

/* line 327, ../sass/cardDeck.scss */
ul.baraja-container li.card_SQ {
  background-image: url(resources/images/SQ.png);
}

/* line 330, ../sass/cardDeck.scss */
ul.baraja-container li.card_SK {
  background-image: url(resources/images/SK.png);
}

/* line 333, ../sass/cardDeck.scss */
ul.baraja-container li.card_SA {
  background-image: url(resources/images/SA.png);
}

/* line 336, ../sass/cardDeck.scss */
ul.baraja-container li.card_back {
  background-image: url(resources/images/Misc_Back.png);
}
